@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0px;
    min-width: 250px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 250px) and (max-width: 600px) {
    body{
        margin: 0px;
    }

    .container{
        width: 100vw;
        overflow: hidden;
    }

    .menu{
        margin: auto;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5vw;
        padding-bottom: 5vw;
        column-gap: 5vw;
    }

    .menu-left,
    .menu-right{
        display: flex;
        align-items: center;
    }

    .menu-left{
        column-gap: 5vw;
    }

    .menu-right{
        column-gap: 3vw;
    }

    .icon-menu{
        display: block;
        cursor: pointer;
    }

    .navcontainer{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100vw; /* Full width */
        height: 100vh; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .menu-list{
        height: 100%;
        width: 0px;
        position: fixed;
        display: flex;
        flex-direction: column;
        row-gap: 4vw;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 15vw;
        font-weight: 700;
        font-size: 6vw;
    }

    .menu-list .closebtn {
        position: absolute;
        top: 0;
        left: 0px;
        font-size: 12vw;
        margin-left: 15px;
      }

    .menu-list a{
        text-decoration: none;
        color: hsl(220, 13%, 13%);
        cursor: pointer;
    }

    .butt a{
        color: hsl(219, 9%, 45%);
    }

    .logo-img img{
        width: 50vw;
    }
    
    .cart-img{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .cart-img img{
        width: 6vw;
    }

    .cartilosc{
        position: relative;
        top: -4vw;
        left: -3vw;
        font-size: 2.5vw;
        color: white;
        padding: 0.5vw 2vw 0.5vw 2vw;
        border-radius: 4vw;
        background-color: hsl(26, 100%, 55%);
        display: none;
    }

    .profile-img{
        justify-self: flex-end;
    }

    .profile-img img{
        width: 8vw;
    }

    .wbp{
        margin: 0px;
        width: 100%
    }

    .gallery{
        width: 100%;
    }

    .containergal{
        position: relative;
    }

    .mySlides img{
        width: 100%;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 10%;
        height: 10%;
        transform: translate(0,-50%);
        background-color: white;
        border-radius: 50%;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    .prev img, .next img{
        width: 30%;
    }

    .prev img{
        transform: translateX(-25%);
    }
      
      /* Position the "next button" to the right */
    .next {
    right: 2vw;
    }

    .prev{
        left: 2vw;
    }

    .row{
        display: none;
    }
    
    .text{
        padding:5vw;
    }

    .company{
        font-size: 3vw;
    }

    .caption h2{
        margin-top: 2vw;
        font-size: 8vw;
        font-weight: 700;
        margin-bottom: 2vw;
        color: hsl(220, 13%, 13%);
    }

    .caption p{
        font-weight: 400;
        font-size: 4vw;
        color: hsl(219, 9%, 45%);
    }

    .price{
        display: flex;
        column-gap: 4vw;
        align-items: center;
    }

    .new-price{
        font-size: 7vw;
        font-weight: 700;
    }

    .change-price{
        font-size: 4vw;
        color: hsl(26, 100%, 55%);
        background-color: hsl(25, 100%, 94%);
        border-radius: 1vw;
        padding: 1vw;
        font-weight: 700;
    }

    .old-price{
        margin-left: auto;
        margin-right: 5vw;
        color: hsl(219, 9%, 45%);
        font-weight: 700;
    }

    .quantity{
        margin-top: 5vw;
        background-color: hsl(223, 64%, 98%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4vw;
        border-radius: 2vw;
    }

    .quantity span{
        font-size: 5vw;
        font-weight: 700;
    }

    .quantity img{
        width: 4vw;
    }

    .quantity img:hover{
        cursor: pointer;
    }

    .add-cart{
        margin-top: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 3vw;
        background-color: hsl(26, 100%, 55%);
        color: white;
        padding: 4vw;
        border-radius: 2vw;
        cursor: pointer;
        font-weight: 700;
        font-size: 4vw;
    }

    .add-cart:active{
        background-color: hsl(26, 100%, 70%);
    }

    .add-cart img{
        width: 5vw;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7493%) hue-rotate(332deg) brightness(104%) contrast(103%);
    }

    .cart-container{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100vw; /* Full width */
        height: 100vh; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .cart{
        height: 0px;
        border-radius: 2vw;
        background-color: white;
        position: absolute;
        width: 96vw;
        left: 2vw;
        z-index: 4;
        overflow: hidden;
        transition: 0.5s;
    }

    .cart h3{
        font-size: 4vw;
        padding-left: 5vw;
        width: 100%;
        font-weight: 700;
        border-bottom: 1px solid hsl(223, 64%, 90%);
        padding-bottom: 15px;
        margin-bottom: 0px;
    }

    .cart ul{
        list-style-type: none;
        height: auto;
        margin: 0px;
        padding-top: 5vw;
        padding-left: 5vw;
        overflow: hidden;
        
    }

    .shoes-cart{
        display: none;
        align-items: center;
        width: 85vw;
        transition: 0.5s;
        -webkit-transition: 0.5s;
    }
    

    .shoes-cart-img{
        height: 20vw;
        border-radius: 2vw;
    }

    .shoes-cart div{
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .cartbottom{
        margin-top: 0px;
        position: relative;
        height: calc(100% - 50px);
        overflow: hidden;
    }

    .h3cart{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .carttemp{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        margin: auto;
    }

    .checkout{
        cursor: pointer;
        width: 100%;
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 4vw;
        padding: 4vw;
        background-color: hsl(26, 100%, 55%);
        border: 0px;
        border-radius: 2vw;
        width: 85vw;
        position: absolute;
        left: 5vw;
        bottom: 5vw;
        margin: auto;
    }

    .checkout:active{
        background-color: hsl(26, 100%, 70%);
    }
}

@media only screen and (min-width: 601px) {
    body{
        margin-bottom: 5vh;
    }

    .container{
        width: 95vw;
        margin: auto;
    }

    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        column-gap: 5vw;
        height: 15vw;
    }

    .menu-left,
    .menu-right{
        display: flex;
        align-items: center;
    }

    .menu-right{
        column-gap: 3vw;
    }

    .navcontainer{
        height: 100%;
    }

    .menu-left{
        column-gap: 3vw;
        height: 100%;
    }

    .icon-menu{
        display: none;
    }

    .logo-img img{
        width: 20vw;
    }

    .menu-list{
        display: flex;
        align-items: center;
        font-weight: 400;
        color: hsl(220, 14%, 75%);
        column-gap: 3vw;
        font-size: 2vw;
        height: 100%;
    }

    .menu-container{
        text-decoration: none;
        pointer-events: none;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .menu-container:hover{
        -webkit-box-shadow: inset -0px -0.5vw 0px 0px hsl(26, 100%, 55%);
        -moz-box-shadow: inset -0px -0.5vw 0px 0px hsl(26, 100%, 55%);
        box-shadow: inset -0px -0.5vw 0px 0px hsl(26, 100%, 55%);
    }

    .menu-item:hover{
        color: hsl(219, 9%, 45%)
    }

    .menu-item{
        height: fit-content;
        cursor: pointer;
        pointer-events:all;
    }

    .butt{
        display: none;
    }

    .cart-img{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .cart-img img{
        width: 4vw;
    }

    .cartilosc{
        position: relative;
        top: -2.8vw;
        left: -2vw;
        font-size: 1.5vw;
        color: white;
        padding: 0.5vw 1.5vw 0.5vw 1.5vw;
        border-radius: 4vw;
        background-color: hsl(26, 100%, 55%);
        display: none;
    }


    .profile-img{
        justify-self: flex-end;
    }

    .profile-img img{
        width: 7vw;
    }

    .profile-img img:hover{
        cursor: pointer;
        border-radius: 50%;
        border: 0.4vw solid hsl(26, 100%, 55%);
    }

    /* Menu end */
    
    .wbp{
        display: flex;
        flex-direction: column;
        margin-top: 10vw;
    }

    .gallery{
        width: 100%;
        overflow: hidden;
    }

    .text{
        margin-top: 5vw;
        width: 100%;
    }

    * {
        box-sizing: border-box;
    }

    .containergal {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 2vw;
       
    }
    
    .mySlides {
        display: none;
        transition: 0.5s ease-in-out;
    }

    .mySlides img{
        width: 100%;
        border-radius: 2vw;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }
    
    .cursor {
        cursor: pointer;
    }
    
    .prev,
    .next {
        display: none;
    }

    .row{
        display: flex;
        column-gap: 2vw;
        
    }

    .column{
        height: fit-content;
        
    }

    .column img{
        border-radius: 2vw;
        width: 100%;
        display: block;
        transition: 0.2s ease-in-out;
    }

    .column:hover{
        -webkit-box-shadow: inset 0px 0px 0px 0.3vw hsl(26, 100%, 55%);
        -moz-box-shadow: inset 0px 0px 0px 0.3vw hsl(26, 100%, 55%);
        box-shadow: inset 0px 0px 0px 0.3vw hsl(26, 100%, 55%);
        border-radius: 2vw;
    }
    
    .active,
    .demo:hover {
        opacity: 0.4;
    }

    .activec{
        -webkit-box-shadow: inset 0px 0px 0px 0.3vw hsl(26, 100%, 55%);
        -moz-box-shadow: inset 0px 0px 0px 0.3vw hsl(26, 100%, 55%);
        box-shadow: inset 0px 0px 0px 0.3vw hsl(26, 100%, 55%);
        border-radius: 2vw;
    }

    .company{
        color: hsl(26, 100%, 55%);
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .company{
        font-size: 3vw;
    }
    
    .caption h2{
        margin-top: 0.5rem;
        font-size: 6vw;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    
    .caption p{
        font-weight: 400;
        font-size: 3.5vw;
        color: hsl(219, 9%, 45%);
    }
    
    .price{
        display: flex;
        column-gap: 4vw;
        align-items: center;
    }
    
    .new-price{
        font-size: 5.5vw;
        font-weight: 700;
    }
    
    .change-price{
        font-size: 3vw;
        color: hsl(26, 100%, 55%);
        background-color: hsl(25, 100%, 94%);
        border-radius: 1vw;
        padding: 1vw;
        font-weight: 700;
    }
    
    .old-price{
        margin-left: auto;
        margin-right: 5vw;
        font-size: 3vw;
        color: hsl(219, 9%, 45%);
        font-weight: 700;
    }
    
    .quantity{
        margin-top: 5vw;
        background-color: hsl(223, 64%, 98%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4vw;
        border-radius: 2vw;
    }
    
    .quantity span{
        font-size: 4vw;
        font-weight: 700;
    }
    
    .quantity img{
        width: 3vw;
    }
    
    .quantity img:hover{
        cursor: pointer;
    }
    
    .add-cart{
        margin-top: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 3vw;
        background-color: hsl(26, 100%, 55%);
        color: white;
        padding: 4vw;
        border-radius: 2vw;
        cursor: pointer;
        font-weight: 700;
        font-size: 3.5vw;
    }
    
    .add-cart:active{
        background-color: hsl(26, 100%, 70%);
    }
    
    .add-cart img{
        width: 5vw;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7493%) hue-rotate(332deg) brightness(104%) contrast(103%);
    }
    
    .cart-container{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100vw; /* Full width */
        height: 100vh; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    .cart{
        height: 0px;
        border-radius: 2vw;
        background-color: white;
        position: absolute;
        width: 96vw;
        left: 2vw;
        z-index: 4;
        overflow: hidden;
        transition: 0.5s;
    }
    
    .cart h3{
        font-size: 5vw;
        padding-left: 5vw;
        width: 100%;
        font-weight: 700;
        border-bottom: 1px solid hsl(223, 64%, 90%);
        padding-bottom: 15px;
        margin-bottom: 0px;
    }
    
    .cart ul{
        list-style-type: none;
        height: auto;
        margin: 0px;
        padding-top: 5vw;
        padding-left: 5vw;
        overflow: hidden;
        
    }
    
    .shoes-cart{
        display: none;
        align-items: center;
        width: 85vw;
        transition: 0.5s;
        -webkit-transition: 0.5s;
    }
    
    
    .shoes-cart-img{
        height: 20vw;
        border-radius: 2vw;
    }
    
    .shoes-cart div{
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .trash{
        width: 4vw;
        display: block;
        margin-left: auto;
        cursor: pointer;
    }
    
    .cartbottom{
        margin-top: 0px;
        position: relative;
        height: calc(100% - 10vw);
        overflow: hidden;
    }
    
    .h3cart{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 4vw;
    }

    .cartaprice{
        font-size: 3vw;
    }
    
    .carttemp{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-100%);
        margin: auto;
        font-size: 4vw;
    }
    
    .checkout{
        cursor: pointer;
        width: 100%;
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 4vw;
        padding: 4vw;
        background-color: hsl(26, 100%, 55%);
        border: 0px;
        border-radius: 2vw;
        width: 85vw;
        position: absolute;
        left: 5vw;
        bottom: 5vw;
        margin: auto;
    }
    
    .checkout:active{
        background-color: hsl(26, 100%, 70%);
    }
    
    .modal{
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        transition: 0.5s;
        background-color: hsla(0, 0%, 0%, 0.75);
        justify-content: center;
        align-items: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
    .container{
        width: 90vw;
        margin: auto;
    }

    .wbp{
        flex-direction: row;
        column-gap: 5vw;
    }

    .gallery{
        width: 47.5vw;
    }

    .text{
        margin-top: 0px;
        width: 47.5vw;
        overflow: hidden;
    }

    
    .company{
        color: hsl(26, 100%, 55%);
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .company{
        font-size: 2vw;
    }
    
    .caption h2{
        margin-top: 1.5vw;
        font-size: 4vw;
        font-weight: 700;
        margin-bottom: 1.5vw;
    }
    
    .caption p{
        font-weight: 400;
        font-size: 2.5vw;
        color: hsl(219, 9%, 45%);
    }
    
    .price{
        margin-top: 5vw;
        display: flex;
        column-gap: 4vw;
        align-items: center;
    }
    
    .new-price{
        font-size: 3vw;
        font-weight: 700;
    }
    
    .change-price{
        font-size: 2vw;
        color: hsl(26, 100%, 55%);
        background-color: hsl(25, 100%, 94%);
        border-radius: 1vw;
        padding: 1vw;
        font-weight: 700;
    }
    
    .old-price{
        margin-left: auto;
        margin-right: 5vw;
        font-size: 2vw;
        color: hsl(219, 9%, 45%);
        font-weight: 700;
    }
    
    .quantity{
        background-color: hsl(223, 64%, 98%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5vw;
        border-radius: 2vw;
        width: 40%;
    }
    
    .quantity span{
        font-size: 2.5vw;
        font-weight: 700;
    }
    
    .quantity img{
        width: 2.5vw;
    }
    
    .quantity img:hover{
        cursor: pointer;
    }

    .shopping{
        margin-top: auto;
        display: flex;
        column-gap: 3vw;
        align-items: stretch;
    }
    
    .add-cart{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1.5vw;
        background-color: hsl(26, 100%, 55%);
        color: white;
        padding: 1.5vw;
        border-radius: 2vw;
        cursor: pointer;
        font-weight: 700;
        font-size: 1.5vw;
        width: 60%;
    }

    .add-cart img{
        width: 2.5vw;
    }
    
    .add-cart:active{
        background-color: hsl(26, 100%, 70%);
    }

    .cart{
        height: 0px;
        border-radius: 2vw;
        background-color: white;
        position: absolute;
        width: 96vw;
        left: 2vw;
        z-index: 4;
        overflow: hidden;
        transition: 0.5s;
    }
    
    .cart h3{
        font-size: 4vw;
        padding-left: 5vw;
        width: 100%;
        font-weight: 700;
        border-bottom: 1px solid hsl(223, 64%, 90%);
        padding-bottom: 15px;
        margin-bottom: 0px;
    }
    
    .cart ul{
        list-style-type: none;
        height: auto;
        margin: 0px;
        padding-top: 5vw;
        padding-left: 5vw;
        overflow: hidden;
        
    }
    
    .shoes-cart{
        display: none;
        align-items: center;
        width: 85vw;
        transition: 0.5s;
        -webkit-transition: 0.5s;
    }
    
    
    .shoes-cart-img{
        height: 20vw;
        border-radius: 2vw;
    }
    
    .shoes-cart div{
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .trash{
        width: 4vw;
        display: block;
        margin-left: auto;
        cursor: pointer;
    }
    
    .cartbottom{
        margin-top: 0px;
        position: relative;
        height: calc(100% - 10vw);
        overflow: hidden;
    }
    
    .h3cart{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 4vw;
    }

    .cartaprice{
        font-size: 3vw;
    }
    
    .carttemp{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-100%);
        margin: auto;
        font-size: 4vw;
    }
    
    .checkout{
        cursor: pointer;
        width: 100%;
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 4vw;
        padding: 4vw;
        background-color: hsl(26, 100%, 55%);
        border: 0px;
        border-radius: 2vw;
        width: 85vw;
        position: absolute;
        left: 5vw;
        bottom: 5vw;
        margin: auto;
    }
    
    .checkout:active{
        background-color: hsl(26, 100%, 70%);
    }
}

