@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    font-family: 'Kumbh Sans', sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        width: 100vw;
    }

    .menu{
        display: flex;
    }

    .icon-menu{
        display: block;
    }

    .menu-list{
        display: none;
    }

    .gallery{
        width: 100vw;
    }

    .caption{
        width: 100vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        width: 80vw;
        margin: auto;
    }

    .menu{
        display: flex;
    }

    .icon-menu{
        display: none;
    }

    .menu-list{
        display: flex;
    }

    .gallery{
        width: 100vw;
    }

    .caption{
        width: 100vw;
    }
}